{% extends 'base.html' %}

{% block title %}20代チャット管理人タスク{% endblock %}
{% block h1 %}20代チャット管理人タスク{% endblock %}

{% block content %}
  <h2>Task List</h2>
  <ul>
    {% for task in page_obj_task %}
      <li>{{ task.name }}</li>
    {% endfor %}
  </ul>
  <div class="pagination">
    <span class="step-links">
      {% if page_obj_task.has_previous %}
        <a href="?task_page=1">&laquo; first</a>
        <a href="?task_page={{ page_obj_task.previous_page_number }}">previous</a>
      {% endif %}
      <span class="current">
        Page {{ page_obj_task.number }} of {{ page_obj_task.paginator.num_pages }}.
      </span>
      {% if page_obj_task.has_next %}
        <a href="?task_page={{ page_obj_task.next_page_number }}">next</a>
        <a href="?task_page={{ page_obj_task.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>

  <h2>Standard List</h2>
  <ul>
    {% for standard in page_obj_standard %}
      <li>{{ standard.name }}</li>
    {% endfor %}
  </ul>
  <div class="pagination">
    <span class="step-links">
      {% if page_obj_standard.has_previous %}
        <a href="?standard_page=1">&laquo; first</a>
        <a href="?standard_page={{ page_obj_standard.previous_page_number }}">previous</a>
      {% endif %}
      <span class="current">
        Page {{ page_obj_standard.number }} of {{ page_obj_standard.paginator.num_pages }}.
      </span>
      {% if page_obj_standard.has_next %}
        <a href="?standard_page={{ page_obj_standard.next_page_number }}">next</a>
        <a href="?standard_page={{ page_obj_standard.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>

  <h2>Guestalk List</h2>
  <ul>
    {% for guestalk in page_obj_guestalk %}
      <li>{{ guestalk.name }}</li>
    {% endfor %}
  </ul>
  <div class="pagination">
    <span class="step-links">
      {% if page_obj_guestalk.has_previous %}
        <a href="?guestalk_page=1">&laquo; first</a>
        <a href="?guestalk_page={{ page_obj_guestalk.previous_page_number }}">previous</a>
      {% endif %}
      <span class="current">
        Page {{ page_obj_guestalk.number }} of {{ page_obj_guestalk.paginator.num_pages }}.
      </span>
      {% if page_obj_guestalk.has_next %}
        <a href="?guestalk_page={{ page_obj_guestalk.next_page_number }}">next</a>
        <a href="?guestalk_page={{ page_obj_guestalk.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endblock %}