{% extends 'base.html' %}

{% block title %}20代チャット管理人タスク{% endblock %}
{% block h1 %}20代チャット管理人タスク{% endblock %}

{% block content %}
<div class="row">
  <div class="col-9">
    <div class="p-4 m-4 bg-light border border-success rounded">
      <h2 class="text-success">開催案内（通常回）</h2>
      <h6>毎週金曜日の8:00に開催案内、20:55にzoomリンクを投稿</h6>
    </div>
    <div class="p-4 m-4 bg-light border border-success rounded">
      <h2 class="text-success">ゲストーーク関連</h2>
      <h6>前週土曜日8:00の開催予告、当日8:00の開催案内、</h6>
      <h6>20:55にzoomリンク、当日21:30の直前告知を投稿</h6>
    </div>
    <div class="p-4 m-4 bg-light border border-success rounded">
      <h2 class="text-success">アンケートフォームの作成</h2>
      <h6>ゲストーーク終了後のアンケートフォームを作成</h6>
    </div>
    <div class="p-4 m-4 bg-light border border-success rounded">
      <h2 class="text-success">オフ会カレンダー登録（マニュアル）</h2>
      <h6>イベント・オフ会カレンダーにイベントを登録</h6>
    </div>
  </div>
</div>
{% endblock content %}