<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <title>{% block title %}{% endblock title %}| リベシティ20代zoomゲストーーク！</title>
  </head>
  <body>
    <h1>ゲストーーク！＜詳細＞</h1>
    <p><br>開催日（『4/1』の形式で半角入力）</p>
    <input class="" name="comment">
    <p><br>開催回（『vol.〇』の〇のみ半角入力）</p>
    <input class="" name="comment">
    <p><br>ゲスト名</p>
    <input class="" name="comment">
    <p><br>ゲストプロフィールURL</p>
    <input class="" name="comment">
    <p><br>お題（『〇〇について聞いてみよう』の〇〇のみ入力）</p>
    <input class="" name="comment">
    <p><br>ひとことコメント</p>
    <input class="" name="comment">
    <p><br>自己紹介テンプレ⑤</p>
    <input class="" name="comment">
    <p><br>サムネURL</p>
    <input class="" name="comment">
    <p><br>質問スプシURL</p>
    <input class="" name="comment">
    <p><br>zoomリンク</p>
    <div class="border border-dark d-inline-flex p-2 bd-highlight">
        <a href="https://us06web.zoom.us/j/3024826502?pwd=OFhIZHY1U0dtYUlaN0NKTWlPbi9LQT09#success">https://us06web.zoom.us/j/3024826502?pwd=OFhIZHY1U0dtYUlaN0NKTWlPbi9LQT09#success</a>
    </div>
    <p><br></p>
    <div>
        <button type="submit" class="btn btn-primary">
            内容更新
        </button>

        <button type="submit" class="btn btn-warning">
            一覧へ戻る
        </button>

        <button type="submit" class="btn btn-danger">
            削除
        </button>
    </div>

  </body>
</html>